.navbar-brand {
  padding: 0;
}
.navbar-brand > img {
  height: 100%;
  padding: 8px;
  width: auto;
}
.hidden {
    visibility: hidden !important;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.toast {
    opacity: 1 !important;
}

.lowstockcheckbox{
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.financerangediv{
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

#checkout_table_tbody > tr > td {
     vertical-align: middle;
}

/* make select2 dropdowns longer than the standard 200px */
.select2-container--default .select2-results > .select2-results__options {
    max-height: 320px;
    overflow-y: auto;
}

/* these select2 settings make sure that long selections are shown over multiple lines */
/*
#checkout_table_tbody .select2-container .select2-selection {
    height: 60px !important;
} 
#checkout_table_tbody .select2-selection--single {
  height: 100%;
}
#checkout_table_tbody .select2-selection__rendered {
  word-wrap: break-word;
  text-overflow: inherit;
  white-space: normal;
}
*/