body {
    background-color: #f8c9c4 !important;
}
div.test_header {
    font-size: 120%;
    margin: auto;
    padding: 16px;
}
.navbar-default {
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
}
.navbar-brand {
    color: #ecf0f1 !important;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: #ffbbbc !important;
}
.navbar-nav > li > a {
    color: #ecf0f1 !important;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #ffbbbc !important;
}
.navbar-nav .active > a, .navbar-nav .active > a:hover, .navbar-nav .active > a:focus {
    color: #ffbbbc !important;
    background-color: #c0392b !important;
}
.navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-open .open > a:focus {
    color: #ffbbbc !important;
    background-color: #c0392b !important;
}
.navbar-nav .open > a .caret, .navbar-nav .open > a:hover .caret, .navbar-open .open > a:focus .caret {
    border-top-color: #ffbbbc !important;
    border-bottom-color: #ffbbbc !important;
}
